.sbiovxm{display:flex}
@layer vilan.preflight{*,::before,::after{box-sizing:border-box}}
@layer vilan.preflight{::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}}
@layer vilan.preflight{::-webkit-search-decoration{-webkit-appearance:none}}
@layer vilan.preflight{[hidden]{display:none}}
@layer vilan.preflight{[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}}
@layer vilan.preflight{a,button,select{display:block}}
@layer vilan.preflight{a{color:inherit;text-decoration:inherit}}
@layer vilan.preflight{b,strong{font-weight:bolder}}
@layer vilan.preflight{blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre{margin:0}}
@layer vilan.preflight{body{margin:0;line-height:inherit}}
@layer vilan.preflight{button,[role="button"]{cursor:pointer}}
@layer vilan.preflight{button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;background-image:none}}
@layer vilan.preflight{button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0;border:0;background-color:transparent}}
@layer vilan.preflight{button,select{text-transform:none}}
@layer vilan.preflight{code,kbd,samp,pre{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,monospace;font-size:1em}}
@layer vilan.preflight{dialog{padding:0}}
@layer vilan.preflight{fieldset{margin:0;padding:0}}
@layer vilan.preflight{h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}}
@layer vilan.preflight{hr{height:0;color:inherit;border-top-width:1px}}
@layer vilan.preflight{html{line-height:1.5;-webkit-text-size-adjust:100%;tab-size:4}}
@layer vilan.preflight{img,svg,video,canvas,audio,iframe,embed,object{display:block;vertical-align:middle}}
@layer vilan.preflight{img,video{max-width:100%;height:auto}}
@layer vilan.preflight{input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}}
@layer vilan.preflight{legend{padding:0}}
@layer vilan.preflight{ol,ul,menu{list-style:none;margin:0;padding:0}}
@layer vilan.preflight{progress{vertical-align:baseline}}
@layer vilan.preflight{small{font-size:80%}}
@layer vilan.preflight{summary{display:list-item}}
@layer vilan.preflight{table{text-indent:0;border-color:inherit;border-collapse:collapse}}
@layer vilan.preflight{textarea{resize:vertical}}
@layer vilan{a{display:inline-block}}
